.grid div {
    background:rgb(219, 216, 216);
    padding:1em;
}
.grid div:hover{
    border:1px solid yellow;
}
.grid {
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1em;
}

